API_BIND_ADDRESS=127.0.0.1
API_PORT=8080

MYSQL_DATABASE=prospera
MYSQL_USER=prospera
MYSQL_PASSWORD=change-this-database-password
MYSQL_ROOT_PASSWORD=change-this-root-password

JWT_SECRET=change-this-long-random-secret
CORS_ALLOWED_ORIGIN_PATTERNS=https://appprospera.com.br,https://www.appprospera.com.br,https://api.appprospera.com.br
